@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-image: url('../images/Texas+Pasture+Grasses.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

/* Base.html styles */

  
.site-header {
    background-color: rgb(68, 37, 117);
    background-image: url('../images/site-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    font-family: "Lobster", sans-serif;
    font-weight: bold; 
    font-style: normal;
    font-size: 50px;
    color: rgb(20, 23, 49);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 2s ease-in-out;
    opacity: 0.95;
    background-position: center;
}

.site-header h1, .site-header h2 {
    display: block;
}

/* Media query for small screens */
@media only screen and (max-width: 768px) {
    .site-header {
        font-size: 40px;
        height: 200px;
    }
}

/* Nav bar */
.site-nav ul {
    font-family: "Rubik Scribble", sans-serif;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    position: relative;
    z-index: 4;
}

.site-nav li {
    background-color: #0f0736; /* Set the background color */
    color: white; /* Set the font color */
    border: 1px solid #000;
    padding: 18px 36px; 
    margin: 5px; 
    border-radius: 5px;
    width: 180px; 
    height: 90px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); /* Add box shadow */
}

.site-nav a {
    text-decoration: none;
    color: white; /* Set the font color */
    font-size: 1.8em; 
}

/* Media queries for tablets and medium-sized devices */
@media only screen and (max-width: 768px) {
    .site-nav ul {
        flex-direction: column;
    }
    .site-nav li {
        width: auto; 
        height: auto; 
        padding: 10px 20px;
    }
    .site-nav a {
        font-size: 1.4em; 
    }
}

/* Media query CSS for mobile devices */
@media only screen and (max-width: 480px) {
    .site-nav ul {
        flex-direction: column;
    }
    .site-nav li {
        width: auto; 
        height: auto; 
        padding: 8px 16px;
    }
    .site-nav a {
        font-size: 1.2em; 
    }
}

/* basket styling */

.basket-info {
    position: fixed;
    right: 0;
    background-color: rgb(68, 37, 117);
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: "Lobster", sans-serif;
    color: white;
    z-index: 1000;
}

.basket-info p {
    font-family: 'Roboto', sans-serif;
    margin: 0 0 10px;
}

/* CSS for mobile and small devices */
@media only screen and (max-width: 480px) {
    .basket-info {
        position: static;
        right: auto;
    }
}
/* index page welcome */

.index-page-welcome {
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(68, 37, 117);
    max-width: 250px;
    border-radius: 5px;
    padding: 10px;
    left: 1vw; 
    z-index: 3;
    margin-top: 40px;
    margin-bottom: 50px;
}

.index-page-welcome h2 {
    font-family: "Rubik Scribble", sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
}

/* User Greeting styling */

.user-greeting {
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(68, 37, 117);
    max-width: 250px;
    border-radius: 5px;
    padding: 10px;
    left: 1vw; 
    z-index: 3;
    margin-top: 40px;
    margin-bottom: 50px;
}
/* CSS for mobile and small devices */
@media only screen and (max-width: 480px) {
    .index-page-welcome, .user-greeting {
        position: static;
        top: auto;
        left: auto;
    }
}


/* Index about styling */
.index-about-section {
    background-color:  rgb(68, 37, 117);
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    margin-left: auto;
    margin-top: -200px;
    margin-bottom: 75px; /* Increase the bottom margin */
    width: 70%;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.9); /* Increase the blur radius and spread radius */
    opacity: 0.95;
}

.index-about-section img {
    width: 150px; /* adjust this value to get the thumbnail size you want */
    height: auto;
    display: block;
    margin: auto; /* center the image */
}

.index-about-section h2 {
    font-family: "Rubik Scribble", sans-serif;
    color: white;
}


/* image carousel styling */
.carousel-container {
    max-width: 100%; /* Ensure the container never goes past the width of the page */
    overflow: hidden; /* Hide any content that overflows the container */
}

.carousel {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    margin-bottom: 75px;
    margin-top: 75px; /* You can also add a top margin here if needed */
    clear: both;
}

.carousel__track {
    display: flex;
    animation: scroll 20s linear infinite;
}

.carousel__slide {
    width: 500px;
    height: 400px;
    flex: 0 0 auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@media (max-width: 600px) {
    .carousel-container {
        display: none;
    }
}

/* index about author section styling */
.index-author-profile {
    width: 75%;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    background-color:  rgb(68, 37, 117);
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.9); /* Increase the blur radius and spread radius */
    opacity: 0.9;
}

.index-author-profile img {
    padding: 5px;
    width: 300px; /* Increase the width */
    height: auto;
    display: block;
    margin: auto; /* center the image */
}

/* featured product styling */

.featured-product-title {
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
    font-family: "Rubik Scribble", sans-serif;
    max-width: 800px; 
    background-color:  rgb(68, 37, 117);
    border-radius: 5px;
    margin: 20px;
    padding: 20px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9); 
}

.featured-product-title p, .featured-product-title h2 {
    font-family: "Rubik Scribble", sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Featured Products Index Page Window */

.index-featured-products {
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 400px;
    overflow-y: auto;
    z-index: 4;
    border-radius: 5px;
}


.index-featured-products .product {
    background-color: white;
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: calc(20% - 20px); 
    height: 400px;
    overflow: auto;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}

.index-featured-products img {
    width: 200px; 
    height: auto;
}

/* CSS for mobile and small devices displaying the top 2 features*/
@media only screen and (max-width: 480px) {
    .featured-products {
        justify-content: flex-start; 
    }
    .featured-products .product {
        width: 50%; 
        box-sizing: border-box; 
    }
    .featured-products .product:nth-child(n+3) {
        display: none; 
    }
}
/* Styling for the about page */
.about-page-content {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    background-color: rgb(68, 37, 117);
    padding: 20px;
    margin: 0 auto;
    width: 75%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

/* styling for register page */

.user-registration {
    font-family: "Roboto", sans-serif;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

/* CSS for mobile and small devices */
@media only screen and (max-width: 480px) {
    .user-registration {
        width: 90%;
        padding: 10px;
    }
}


/* Styling for the product page */

.product-page-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;    background-color: #0f0736;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 5px; 
    height: auto; 
    max-width: 50%; 
    border-radius: 5px;
    margin: 0 auto; 
    display: block; 
    overflow: auto; 
    margin-top: 10px;
    opacity: 0.9;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.product-page-title p {
    font-family: "Roboto", sans-serif;
    margin: 0; 
    padding: 0; 
}

.product-page-welcome {
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(68, 37, 117);
    max-width: 600px;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto; 
    display: block; 
}

.product-page-disclaimer {
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(68, 37, 117);
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto; 
    display: block; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.95;
}

.product-category-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;    background-color: #0f0736;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: #0f0736;
    margin-top: 1em;
    max-width: 450px; /* set max width */
    margin: 1em auto; /* center the element */
    display: block; /* make sure the element is block-level */
    border-radius: 5px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2em;
}

.product-item {
    position: relative;
    background-color: white;
    color: black;
    width: calc(25% - 20px); /* four items per row, with 20px gap */
    margin: 10px; /* creates a 20px gap between items */
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
    justify-content: space-between; /* Add this line */
}

.product-item img {
    height: 200px; /* Adjust this value as needed */
    width: 100%; /* This will make the image take the full width of its container */
    object-fit: contain; /* This will ensure the aspect ratio of the image is maintained */
}

.product-title, .product-description, .product-price {
    margin: 10px 0;
}

.product-item form {
    margin-top: auto;
    width: 100%; /* Add this line if the form is not taking the full width */
}

.add-to-basket {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}


/* PRODUCT_DETAIL PAGE STYLING */

/* PRODUCT DETAIL styles */

.product-detail-content {
    font-family: "Roboto", sans-serif;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    height: auto;    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.product-detail-content img.product-detail-image {
    width: 25%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.product-detail-content .product-multi-img-container {
    display: flex;
    justify-content: space-between;
}

.product-detail-content img.product-multi-img {
    width: 250px; 
    height: 350px; 
    display: block; 
    margin: 0 auto; 
    object-fit: cover; 
}

.product-detail-content form {
    margin-top: 20px;
}

.edition-chooser {
    font-size: 1.5em;
    padding: 10px;
}

.price-box {
    font-size: 1.5em;
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
}
/* Styling for the further information section of index page */

.further-info {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(20, 23, 49);
    margin: 40px auto;
    padding: 20px;
    width: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
@media only screen and (max-width: 480px) {
    .further-info {
        width: 90%; 
    }
}
/* Contact form styling */

.site-contact-form {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(16, 10, 44);
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
    border-radius: 5px;
}

.site-contact-form input, .site-contact-form textarea {
    width: 100%;  
    box-sizing: border-box;  
}

@media only screen and (max-width: 480px) {
    .site-contact-form {
        width: 90%; 
    }
}

/* Stripe form styling */

.payment-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-row label {
    margin-bottom: 10px;
}

#card-element {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

#card-errors {
    color: red;
    margin-top: 10px;
}


/* Styling for the Reviews page */

.review-page-title {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(16, 10, 44);
    font-size: 30px;
    text-align: center;
    padding: 10px;
    background-size: cover; ;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 50%;
    border-radius: 5px;
    opacity: 0.9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9); 
}

.review-form {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    padding-left: 50px;
    background-color: #f0f0f0;
    width: 35%; 
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}

.review-form textarea {
    width: 400px; 
    height: 200px; 
}

/* Styling for the Submitted User Reviews */

.product-reviews {
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-left: 50px;
    padding-top: 20px;
    background-color: rgb(16, 10, 44);
    max-width: 50%;
    margin: 10px 0;
    opacity: 0.9;

}

.product-reviews img {
    width: 200px;  
    height: auto;  
    display: block;  
    margin: 0 auto;  
}

@media only screen and (max-width: 480px) {
    .review-form {
        width: 90%; 
        padding-left: 10px; 
    }
    .review-form textarea {
        width: 90%; 
        height: 150px; 
    }
    .product-reviews {
        max-width: 90%; 
        padding-left: 10px; 
    }
    .product-reviews img {
        width: 90%; 
    }
}
/* Styling for the edit review page */

.edit-review-form {
    font-family: "Lobster", sans-serif;
    padding-left: 50px;
    background-color: #f0f0f0;
    width: 35%; 
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.edit-review-form textarea {
    width: 400px; 
    height: 200px; 
}

.site-footer {
    font-family: "Lobster", sans-serif;
    font-size: 20px;
    color: white; 
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgb(16, 12, 36);
    text-align: center;
    opacity: 0.9;
}

/* CSS for mobile and small devices */
@media only screen and (max-width: 480px) {
    .edit-review-form {
        width: 90%; /* Make the form take up 90% of the screen width */
        padding-left: 10px; /* Reduce the left padding */
    }
    .edit-review-form textarea {
        width: 90%; 
        height: 150px; 
    }
}
/* Checkout page styling */


/* Checkout basket styling */
.checkout-basket {
    background-color: white;
    color: black;
    font-family: "Exo 2", sans-serif;
    width: 50%; 
    margin: 0 auto; 
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkout-basket ul {
    list-style-type: none; 
    padding: 0; 
}

.checkout-basket li {
    margin-bottom: 20px; 
}

/* Style for input fields */
.checkout-basket .form-row input {
    width: 100%; /* Adjust as needed */
    max-width: 400px; /* Adjust as needed */
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
/* CSS for mobile and small devices */
@media only screen and (max-width: 480px) {
    .checkout-basket {
        width: 90%; /* Make the basket take up 90% of the screen width */
        padding: 30px; /* Increase the padding */
        font-size: 1.2em; /* Increase the font size */
    }
    .checkout-basket li {
        font-size: 1.2em; /* Increase the font size */
    }
}
/* Payment.html form styling */

/* Payment Success (charge.html) styling */
.payment-received-notice {
    font-family: "Lobster", sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(68, 37, 117);
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

@media only screen and (max-width: 480px) {
    .payment-received-notice {
        width: 85%; /* Make it take up 85% of the screen width */
    }
}


/* Styling for the footer page */

.footer-container {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.footer-links, .middle-list, .right-content {
    flex: 1;
}

.footer-links {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.middle-list li {
    list-style-type: none;
    font-size: 17px; /* Adjust this value as needed */
}