{% extends 'catalog/base.html' %}
{% load static %}

{% block content %}

<section class="about-page-content">
    <img src="{% static 'catalog/images/nelson-profile.webp' %}" alt="nelson-profile">
    <h2>About Our Author</h2>
    <p>.... it all started with Nelson
 

        Many years ago we were captivated by a pair of beautiful amber eyes......the only trouble was, they were attached to the naughtiest dog on the planet!
        
        Nelson, our sadly now deceased Weimaraner, was stunningly beautiful with his silver coat, princely nose and soft ears, but he was also a hot stinking mess. High prey drive, no impulse control, total scavenger, orally fixated, separation anxiety ridden, sex pest, burglar, serial escape artist.......who on earth would adore a dog like that?
        
        Guilty as charged, your Honor!
        
        This crazy, naughty dog came into our lives as a rescue, turned everything upside down, trashed our house, drove away most of our friends and family (they were idiots anyway), stole all the goodies from the pantry and made us, (yes, MADE US!) fall head over heels in love with him!
        
        Over the years, through educating ourselves as to what made him tick and how to fix him, we learned a whole bunch about dogs in general, and this spurred (Aunty) Penny in particular, on to study more formally on this fascinating subject, and she became a canine behavior counselor.
        
        We moved to America in 2006, and soon realized our dream of owning an off leash rehabilitation ranch where dogs could come to get in touch with nature, their primal selves, and be given time and distance to think and breathe, surely the most valuable tools in the rehab process. It was also where we fine-tuned our concept of utilizing calm, exceptional dogs to vicariously teach problem dogs a better way.
        
        The Desperate Dogs Ranch started as purely a rehabilitation center, but soon became a Mecca for dog lovers who wanted their family pets to enjoy acres of off leash play, home style boarding and gentle handling by individuals who knew just what makes a dog tick. When the boarding side took off, we knew we had the perfect vehicle to fund more even rescue work in the community, and started doing more and more pro bono work for shelters and rescues throughout Georgia, and fostering dogs who either needed behavioral work, a break from the shelter or who had simply run out of options. Of course this led to a series of foster failures, but that gave us the amazing canine staff that we have at the Desperate Dogs Ranch today.......all of whom, when working with a troubled dog, bring a mass of empathy to their work...they all have walked a thousand miles in their shoes, you see.
        
        Our work involves behavioral rehabilitation for dogs with socialization issues, separation anxiety, aggression and also fear and anxiety disorders. The staff dogs are with us every step of the way; they guide our steps and help in the decision making process. The practice of dog listening is all about paying attention to the dog and what he or she needs in any moment, then reacting to it, or not, as the case may be, in the most appropriate way possible.
        
        Relationship is everything.
        
        Using staff dogs that we know inside and out is invaluable during this process. With thousands of successes under our belt, we are very proud of how many dogs we have saved from certain euthanasia or from rehoming....by teaching owners what their dogs need, and how to provide it, within a framework of their own capabilities.
        
        These dogs have become our extended family, and all guest dogs here are treated as calmly and gently and with as much respect as we would a human baby.
        
        No shock collars, no pinch collars, no choke chains... and anyone who wants to use one of these is not allowed entrance through the Ranch gates. Over the years, we have encouraged hundreds of people to trash these tortuous devices in our trash cans, and learn a different way of guidance........another thing we are very proud of here at DD! Every day we learn new and amazing things about dogs, every day we let the guests teach us what we need to do to perfect our craft. There is no substitute for hands on experience, no substitute for truly 'being there' for the dog. Our fervent wish is to continue this path of learning and loving....and spread our message as far and wide as we can.
        
        Throughout our time here, we have watched in disgust as more and more people treat dogs like property, as opposed to sentient beings with needs and wants of their own. In particular, the vile trend of giving up the pet who has stayed by the family's side for all of its useful life, then is wantonly cast aside without a second thought the minute the poor thing reaches old age and might need a helping hand himself.
        
        That's when we decided to set up our own senior dog sanctuary, right here at the Ranch.
        
        Frankie and Andy's Place was born in 2016, when a beautiful little log cabin was delivered to the premises, nestled perfectly into the woods, and was soon filled with 9 sweet old souls, all from kill shelters, looking for a soft place to end their days. A second, 1500 square foot luxury cabin was added in 2018; this took our total to 21 seniors and subsequent cabin installations bring our capability to 40 dogs at time of writing. 
        
        The dogs are made as well as possible, made whole, and filled with love.
        
        They sleep on comfy beds and couches, just like the boarding dogs down at the Ranch do; they eat home-made food every day, rich in fresh meat and vegetables. Volunteers and dedicated staff are there every day of the week, eager to help, desperate to show these dogs that not all humans are cruel, and that they truly matter.
        
        Once the dogs are ready, they go out into the community...schools, senior centers, adult day centers, and there they provide love and companionship to those who need it. There’s nothing more fulfilling than seeing a dog who was dumped by his owner because he is deaf or blind, or maybe because he can't walk, find a new lease on life as a lap dog at the old folks home, or as a cuddle buddy at the local school, or just being there, giving love and comfort to someone unable to own a pet anymore.
        
        This mission is heart-filling, it's important, and it does as much for the volunteers and rescuers as it does for the dogs. The dogs stay with us until they pass on....there are always at least ten or twelve  hospice care cases at anytime, but our focus is on comfort and quality of life, not necessarily length of life. When they leave us, they go having known a kind touch, a warm lap and a deep gratitude for their presence in our lives. The cabin continues to grow, with more dogs being homed here, and more programs being introduced every month...this is a true ministry, where dogs are being saved by humans, so that they can turn around and save them right back.
        
         The Ministry of Dog was started as a celebration of our relationship with dogs, the benefits that they bring to our lives and the joy that we receive from them every day. It also helps us to fund our various community projects but in a fun and unique way. We publish books to inform and educate dog owners and to fund our charitable projects.
        
        2021 marks fifteen years in Georgia, we are so eager to see what the next 15 years brings!
        
        </p>

{% endblock %}