{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Author Title</title>
    <!-- Set viewport for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation bar -->
    <section class="site-nav">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'reviews' %}">Reviews</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'checkout' %}">Checkout</a></li>
                {% endif %}
            </ul>
        </nav>
    </section>
    <!-- Content of the base page -->
    <!-- Site header -->
    <div class="site-header"></div>
    
    <!-- Basket info -->
    <div class="basket-info">
        {% if basket %}
            <p>User: {{ request.user.username }}</p>
            <p>Items in basket: {{ basket.basketitem_set.count }}</p>
            <p>Total price: {{ basket.total_cost }}</p>
        {% else %}
            <p>No items in basket</p>
        {% endif %}
    </div>
    {% block content %}


    {% endblock %}

    <footer class="site-footer">
        <div class="footer-links">
            <a href="https://www.theministryofdog.com/" target="_blank">
                <i class="fas fa-dog"></i> The Ministry of Dog
            </a>
            <a href="https://www.frankieandandysplace.org/" target="_blank">
                <i class="fas fa-paw"></i> Frankie and Andy's Place
            </a>
            <a href="https://www.facebook.com" target="_blank">
                <i class="fab fa-facebook-f"></i> Facebook
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <i class="fab fa-instagram"></i> Instagram
            </a>
        </div>
        <p>&copy; 2024 Titles Copyright Penny Miller</p>
    </footer>

<!-- ... -->

<!-- Include JavaScript file -->
<script src="https://js.stripe.com/v3/"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'catalog/js/script.js' %}"></script>


</body>
</html>