{% extends 'catalog/base.html' %}
{% load static %}

<!-- Rest of your HTML code -->

{% block content %}

<section class="index-about-section">
  <img src="{% static 'catalog/images/penny-profile.jpeg' %}" alt="Penny-profile">  
  <h2>About Penny Miller</h2>
  <p>Penny Miller is a British born canine behavior counsellor who had a come to Jesus moment 
  when she witnessed a local English dog trainer she had hired to train her naughty dog Nelson, 
  use a choke chain to almost strangle him into submission. 
  Right after she threatened to lay the guy out, (yeah, she’s like that), she enlisted the services 
  of British dog behaviorist Dr. Kendall Shepherd who taught her a different, kinder way of looking 
  at behavior problems, and the decision was made there and then to pursue this further. 
  Years of study in dog psychology and behavior, both in college, and later, with world renowned 
  trainers like John Rogerson, Patricia McConnell, Michael Shikashio, Ken McCort, and Suzanne 
  Clothier to name but a few, have provided Penny with a uniquely empathic approach to dog behavior 
  and handling but, she says, her greatest and most intense period of learning was always and will 
  always be her work with shelter dogs. </p>
  </section>

<!-- User authenticate and greeting section -->

{% if user.is_authenticated %}
<div class="user-greeting">
  <h2>Welcome: {{ user.username }}</h2>
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
  </form>
</div>
{% else %}
<div class="index-page-welcome">
  <h2>Welcome!</h2>
  <p>Login here,<a href="{% url 'register' %}">signup</a> here or browse as our guest</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
</div>
{% endif %}


<div class="image-carousel">
  <div class="carousel__track-container">
      <ul class="carousel__track">
          <li class="carousel__slide current-slide">
              <img class="carousel__image" src="{% static 'catalog/images/ava-christmas.jpeg' %}" alt="Image 1">
          </li>
          <li class="carousel__slide">
              <img class="carousel__image" src="{% static 'catalog/images/doris.jpeg' %}" alt="Image 2">
          </li>
          <li class="carousel__slide">
              <img class="carousel__image" src="{% static 'catalog/images/scruffy-dog.jpeg' %}" alt="Image 3">
          </li>
          <li class="carousel__slide">
            <img class="carousel__image" src="{% static 'catalog/images/senior-dogs.jpeg' %}" alt="Image 3">
        </li>
        <li class="carousel__slide">
          <img class="carousel__image" src="{% static 'catalog/images/snazzy-face.jpeg' %}" alt="Image 3">
      </li>
      <li class="carousel__slide">
        <img class="carousel__image" src="{% static 'catalog/images/white-dog.jpeg' %}" alt="Image 3">
    </li>
          <!-- Add more images as needed -->
      </ul>
  </div>
</div>

<!--Author profile-->
<div class="index-author-profile">
  <img src="{% static 'catalog/images/penny-smile.jpg' %}" alt="index-author-profile">
  <p>Penny Miller, the acclaimed canine author, has captivated readers worldwide 
    with her unique perspective on the world through the eyes of dogs. With an uncanny 
    ability to delve into the depths of canine emotions and experiences, Miller's writing 
    transcends mere storytelling to offer profound insights into the human-canine bond. Through 
    her works, she explores the intricate dynamics between humans and their beloved furry companions, 
    shedding light on the mutual understanding, love, and loyalty that define this special 
    relationship.
  </p>
</div>

<!-- Featured Products -->
<div class="featured-product-title">
  <h2>FEATURED PRODUCTS</h2>
  <p>Our most popular products to date, check out our shop for
    more products and services.
  </p>
</div>
<div class="featured-products">
  {% for product in featured_products|slice:":3" %}
    <div class="product">
      <h3>{{ product.title }}</h3> 
      <img src="{{ product.image.url }}" alt="{{ product.name }}">
      <p>Price: ${{ product.price }}</p>
      <p>{{ product.description }}</p> 
    </div>
  {% empty %}
    <p>No featured products at this time.</p>
  {% endfor %}
</div>

<!-- LIMITED Section -->
<div class="limited-products-title">
  <h2>LIMITED items</h2>
  <p>Limited quantity items.</p>
</div>

<div class="limited-products">
  {% for product in legendary_products|slice:":3" %}
    <div class="limited-product">
      <h3>{{ product.title }}</h3> 
      <img src="{{ product.image.url }}" alt="{{ product.name }}">
      <p>Price: ${{ product.price }}</p>
      <p>{{ product.description }}</p> 
    </div>
  {% empty %}
    <p>No legendary products at this time.</p>
  {% endfor %}
</div>

<!-- Further Information-->

<section class="further-info">
  <h2>Further Information</h2>
  <p>For more information on our products, please visit our <a href="{% url 'products' %}">products page</a>.</p>
  <p>For reviews on our products, please visit our <a href="{% url 'reviews' %}">reviews page</a>.</p>
  <p>To get in touch, please drop us a message using our in house messaging service below!</p>
</section>


<!-- Contact Form -->
<section class="site-contact-form">
  <h2>Contact Us</h2>
  <form method="post">
    {% csrf_token %}
    {{ contact_form.as_p }}
    <button type="submit">Send</button>
  </form>
</section>


{% endblock %}