{% extends 'catalog/base.html' %}


{% block title %}Products{% endblock %}

{% block content %}

<div class="product-page-disclaimer">
    <h2>This is the bit I have to say so you don’t sue me… I am not a veterinarian.</h2>
        <p>I am not licensed to treat or diagnose any illness or condition. 
        The information that I am sharing with you in this book is stuff that I have learned over years working with dogs as a 
        behavior counsellor, dog owner, ardent rescuer and owner of a very busy holistic boarding facility in North East Georgia. 
        Opening a senior dog sanctuary five years ago, where we care for 23 or so dogs every day, some of whom are in hospice care, 
        plus my own huge pack of senior dogs, has also given me vital and unique experiential learning about the mental and physical 
        needs of senior dogs. 
        Everything I will be sharing with you in this book comes from my own experience working with the dogs at the Ranch. 
        Your experiences may be different to my own, and that is simply because no two dogs are alike and no two sets of circumstances are 
        alike. 
        Pharmaceuticals, supplements, foods and treatments can all have differing effects on the participant. 
        My advice to you is always to do your own research; decide for yourself whether you think that any of these suggestions could be a path for you to take, and always, always, always discuss them with your veterinarian. 
        Please do not assume that because something proclaims itself as natural, that it will be okay.</p>

    <h2>So if you're happy with all that then feel free to register and purchase or browse our catalogue as a guest....</h2><i class="fas fa-book fa-2x"></i>
</div>

{% for Category in categories %}

<div class="product-list">
    {% for product in Category.products %}
    <div class="product-item">
      <a href="{% url 'product_detail' product.id %}"> 
            <h2 class="product-title">{{ product.title }}</h2>
            <p class="product-category">Category: {{ Category.name }}</p>
            <img class="product-image" src="{{ product.image.url }}" alt="{{ product.title }}">
            <p class="product-description">{{ product.description }}</p>
            
        </a>
        <form method="post" action="{% url 'add_to_basket' product.id %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
        </form>
    </div>
    {% empty %}
    <p class="no-products">No products available in this category.</p>
    {% endfor %}
</div>

{% endfor %}

<section class="products-amazon-link">
    <div class="amazon-link">
        <h2>Looking for more products?</h2>
        <h3>All of Penny's titles in Kindle/e-Book variation can be purchased via our Amazon store</h3>
        <a href="https://www.amazon.com" target="_blank"><i class="fab fa-amazon"></i> Visit our Amazon Store</a>
</section>

{% endblock %}